[Unit]
Description=Configuration Manager GRPC Service
After=config-managerd.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /opt/MQTT/MQTT.py
WorkingDirectory=/opt/MQTT

[Install]
WantedBy=multi-user.target
